@model List<News>

@{
    ViewData["Title"] = "News";
}

<!-- Page Wrapper -->
<div id="wrapper">
    @await Html.PartialAsync("_SidebarPartial")
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            @await Html.PartialAsync("_TopbarPartial")
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header main-background py-3">
                        <h6 class="m-0 font-weight-bold main-color">News</h6>
                    </div>
                    <div class="card-body">
                        <a asp-action="add" asp-controller="news" class="btn btn-primary mb-3">Add News</a>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="main-color text-center">Photo</th>
                                        <th class="main-color text-center">Title (AZ)</th>
                                        <th class="main-color text-center">Title (RU)</th>
                                        <th class="main-color text-center">Title (EN)</th>
                                        <th class="main-color text-center">Created At</th>
                                        <th class="main-color text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var news in Model)
                                    {
                                        var photoPath = "/uploads/" + news.PhotoName;
                                        <tr id="@news.Id">
                                            <td class="text-center">
                                                <img src="@photoPath" class="image-size" />
                                            </td>
                                            <td class="text-center">@news.Title_AZ</td>
                                            <td class="text-center">@news.Title_RU</td>
                                            <td class="text-center">@news.Title_EN</td>
                                            <td class="text-center">@news.CreatedAt.ToString("MM/dd/yyyy")</td>
                                            <td class="text-center">
                                                <div class="d-flex justify-content-center">
                                                    <a asp-action="edit" asp-controller="news" asp-route-id="@news.Id" class="btn btn-primary mr-1">Edit</a>
                                                    <a asp-action="detail" asp-controller="news" asp-route-id="@news.Id" class="btn btn-info mr-1">Details</a>
                                                    <a class="btn btn-danger delete text-white">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on("click", ".delete", function () {

            var deleteBtn = $(this);
            var news = $(this).parents().eq(2);

            var data = {
                id: $(news).attr('id')
            }

            $.ajax({
                url: "@Url.Action("delete","news")",
                data: data,
                success: function () {
                    $(deleteBtn).text("Deleted");
                    $(news).fadeOut("normal", function () {
                        $(this).remove();
                    });
                }
            })
        })
    </script>
}